@CHARSET "EUC-KR";

#won_0 { background-color: #F6C9E4; width: 10px; height: 10px; -webkit-border-radius:7.5px; -moz-border-radius:7.5px;}
#won_1 { background-color: #F6C9E4; width: 10px; height: 10px; -webkit-border-radius:7.5px; -moz-border-radius:7.5px;}
#won_2 { background-color: #D390E9; width: 10px; height: 10px; -webkit-border-radius:7.5px; -moz-border-radius:7.5px;}
#won_3 { background-color: #03BFDB; width: 15px; height: 15px; -webkit-border-radius:10px; -moz-border-radius:10px;}
#won_4 { background-color: #66C30B; width: 15px; height: 15px; -webkit-border-radius:10px; -moz-border-radius:10px;}
#won_5 { background-color: #FFE84B; width: 15px; height: 15px; -webkit-border-radius:10px; -moz-border-radius:10px;}
#won_6 { background-color: #FFAD43; width: 15px; height: 15px; -webkit-border-radius:10px; -moz-border-radius:10px;}
#won_7 { background-color: #F83434; width: 15px; height: 15px; -webkit-border-radius:10px; -moz-border-radius:10px;}
#won_8 { background-color: #575757; width: 15px; height: 15px; -webkit-border-radius:10px; -moz-border-radius:10px;}
